@charset "UTF-8";
/*  
Description: Diseño, Desarrollo y Posicionamiento de sitios Web.
Author: @ReynierNR
Author URI: http://www.guebsite.com
Version: 2.0
*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,span{
  margin:0;
  padding:0;
}

fieldset,img, abbr, acronym{
  border:0;
}
address,caption,pre,cite,code,dfn,th,var{
  font-style:normal;
  font-weight:normal;
}
h1,h2,h3,h4,h5,h6{
  font-size:1em;
  font-size:100%;
  font-weight:normal;
}
a{
  outline:none;
}
input,select,textarea{
  font-family:Arial, Helvetica, sans-serif;
}
/* CLEARFIX ***********************/
.clearfix:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix{
  display: inline-block;
}
/*\*/* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}/**/
/****************Aquí termina el reset******************/
@media print{
  body, body *{
    font-family:Arial, Helvetica, sans-serif !important;
  }
  .no-imprimir{
    display:none !important;
  }
}

/*----------------TIPOGRAFIAS------------------*/

@font-face {
    font-family: 'Font';
    src: url('fonts/font.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


h1 {  }
h2 {  }
h3 { color: white;
     font-size: 2em;
     text-align: left;
     font-weight: bold;
     font-family: 'Font';}

h4 { color: #302c29;
     font-size: 2em;
     text-align: left; 
     padding-bottom: 10px;
     font-family: 'Font';}
h5 {  }
h6 {  }

/*--------NAVEGACION------------------------------------------*/

#ham { background-color: #302c29;
           width: 100%;
           min-height: 50px;
           overflow: hidden;
            }

.menu-btn {
  display: block;
  width: 30px;
  padding: 12px 10px;
}

.menu-btn:before,
.menu-btn:after {
  background-color: #fff;
  content: '';
  display: block;
  height: 4px;
  transition: all 20ms ease-in-out;
}
.menu-btn:before {
  box-shadow: 0 10px 0 #fff;
  margin-bottom: 16px;
}

/*input[type=checkbox]:checked + label.show-menu > span.menu-btn:before {
  box-shadow: 0 0 0 #fff;
  transform: translateY(10px) rotate(45deg);
}
input[type=checkbox]:checked + label.show-menu > span.menu-btn:after{
  transform: translateY(-10px) rotate(-45deg);
}*/


/*Strip the ul of padding and list styling*/
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}
/*Create a horizontal list with spacing*/
li {
    display:inline-block;
    float: left;
    border-right: 1px solid rgba(252, 248, 248, 0.25);
    box-sizing: border-box;
    
}
/*Style for menu links*/
li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    padding-left: 0em;
    line-height: 50px;
    font-family: 'Font';
    font-weight: 500;
    color: #fff;
    
    text-decoration: none;
}
/*Hover state for top level links*/
li:hover a {
    background: #DB2C26;
}
/*Style for dropdown links*/
li:hover ul a {
    background: #f3f3f3;
    color: #302c29;
    height: 40px;
    line-height: 40px;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #B7B5B3;
    color: #302c29;
}
/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}
/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 0px 0;
    box-sizing: border-box;
    display: none;
}

.show-menu:active { background-color: #DB2C26;}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Responsive Styles*/
@media screen and (max-width : 760px){
    
    .homebtn { background-color: transparent;}
    
    #ham label { float: right;     }
    
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 0px;
        
    }
    
    li:first-child { border-top: 1px solid rgba(252, 248, 248, 0.1);
        /*background-color: #DB2C26;*/ }
    
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
        
    }
    
    li a { border-bottom: 1px solid rgba(255, 255, 255, 0.1);
           text-align: left;
           padding-left: 1em;}
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
        width: 50px;
        height: 50px;
    }
}


/*-------------------Flex----------------------*/
.flex { display: flex; }

/*------------------LAYOUT---------------------*/

#cabecera { min-height: 1px; }

.logoweb { display: none;}

#cuerpo { width: 100%;
		  min-height: 1px;
		  padding:0px;}

.mkt { width: 100%;
	   min-height: 400px;
	   background-image: url(img/ejemplo.jpg);
	   background-size: 100%;
       background-color: blue;
       padding: 10px 0px 10px 30px;
       box-sizing: border-box;
       }

.contenido { width: 100%;
			 min-height: 200px;
	         
             padding: 10px 10px 20px 10px;
             box-sizing: border-box;
	         
			 }

.articulo { width: 100%; }

.articulo p { font-family: 'Font';
              font-size: 1.2em;
              padding-bottom: 15px;}

.btnart, .btnofer {     box-sizing: border-box;
                        font-family: 'Font';
                        display: block;
                        width: 60%;
                        min-height: 1px;
                        text-align: center;
                        border-radius: 5px;
                        padding:10px;
                        color:white;
                        text-decoration: none;
                        background-color: #C97233;}

.articulo a:hover {  }


#sidebar { width: 100%;
		   height: 200px;
		   display: none;}

.ofertas { width: 100%;
		   min-height: 240px;
           border-top: 20px #db2c26 solid;
           padding: 15px 10px 15px 10px;
            box-sizing: border-box;           
	      	   }

.item { width: 100%;
        min-height: 1px;
        }
.oferta { width: 100%;
          min-height: 1px;
          padding: 10px;
          box-sizing: border-box; }

.oferta img { display: block;
              width: 90%;
              height: auto;
              margin: auto;
             }

.oferta p { display: block;
            width: 90%;
            font-family: 'Font';
            font-size: 1.2em;
            text-align: justify;
            padding-bottom: 15px;
            margin: auto;
            }

.oferta span { text-transform: uppercase;
                }

.btnofer { background-color: #db2c26;
            text-transform: uppercase;
            margin: auto;
            width: 90%;
}



#pie { width: 100%;
		min-height: 240px;
	    background-color: #5e5a58;
	    flex-flow: column;
	    
		}

#pie .item { flex: 1;
		     align-self:flex-start;
		     }


.footer1, .footer2, .footer3, .footer4 { color: white; }

.footer3, .footer4 { display: none;}

/*----------------MEDIA QUERIES----------------*/







